.modalOverlay {
  position: fixed;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.modalContentWrapper {
  position: fixed;
  display: flex;
  left: 50%;
  top: calc(50% + 16px);
  transform: translate(-50%, -50%);
  background-color: var(--color-primary-700);
  z-index: 1000;
  width: 900px;
  height: 800px;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.125);
  border-radius: 30px;
}

.settingsModalLeft {
  width: 25%;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.settingsModalRight {
  width: 75%;
  height: 100%;
  padding: 20px;
  background-color: var(--color-primary-600);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.settingsModalTopLeft {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.settingsModalBottomLeft {
  width: 100%;
  height: 80%;
}

.settingPageButton {
  width: 100%;
  height: 45px;
  padding-left: 50px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  border-left: 2px solid transparent;
}

.settingPageButton:hover {
  background-color: var(--color-primary-600);
}

.settingPageButton > p {
  user-select: none;
  pointer-events: none;
}

.selectedSettingPage {
  border-color: var(--color-accent);
  background-color: var(--color-primary-600);
}

.selectedSettingPage > p {
  font-size: 1.125rem;
  font-family: PoppinsRegular;
  color: var(--color-text);
}

.underline {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-700);
  margin: 20px 0;
}

.settingWrapper {
  display: flex;
  justify-content: space-between;
}

.settingsElementWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
