.switchMain {
  position: relative;
  width: 60px;
  height: 30px;
  /* padding: 5px; */
  background-color: var(--color-primary-700);
  border-radius: 35px;
  transition: background 400ms;
  cursor: pointer;
}

.switchMain[switchChecked='true'] {
  background-color: var(--color-accent);
}

.switchCircle {
  position: absolute;
  height: calc(100% - 10px);
  aspect-ratio: 1/1;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  border-radius: 50%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: left 400ms;
}

.switchCircle[switchChecked='true'] {
  left: calc(100% - 25px);
}
