@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap');
@import '../../utils/_variables.scss';

* {
  margin: 0;
  padding: 0;
}

.graphSettingsContainer {
  position: absolute;
  width: 200px;
  height: 150px;
  left: 51px;
  top: calc(50% - 20px);
  border-radius: 10px;
  padding: 10px;
  outline: solid 1px $accentColor;
  background-color: $secondaryBackgroundColor;
  z-index: 2;
}

.arrow {
  position: absolute;
  left: -10px;
  top: 10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $accentColor;
}

.innerArrow {
  position: absolute;
  top: -10px;
  left: 1.5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $secondaryBackgroundColor;
}

.inlineWrapper > .icon {
  color: $textColor;
}

.inlineWrapper {
  display: flex;
  margin-bottom: 15px;
}

.input {
  width: 40px;
  margin-left: 10px;
  background-color: rgba($primaryColor, 0.25);
  caret-color: $textColor;
  color: $textColor;
  outline: none;
  border: none;
  border-bottom: solid 1px $textColor;
}

.input:focus {
  border-bottom: solid 1px $accentColor;
}
