@import '../../utils/variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inputContainer {
  position: relative;
  margin-bottom: 1px;
  min-height: 55px;
  height: auto;
  outline: 1px solid $primaryColor;
  display: flex;
  flex-direction: row-reverse;
  z-index: 0;
}

.box {
  box-shadow: 1px 0px 0px 0px $primaryColor;
  height: auto;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mq-focused ~ .box {
  box-shadow: 1px 0px 0px 0px $accentColor;
  background-color: rgba($accentColor, 0.1);
}

// --- BUTTONS --- //
// style to all buttons

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  cursor: pointer;
}

// delete button
.deleteButton {
  color: $secondaryColor;
  height: 36px;
  width: 36px;
}

.deleteButton:hover {
  color: $accentColor;
}

// settings button
.settingsButton {
  color: $textColor;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.settingsButton:hover {
  transform: scale(1.15);
  transition: 0.2s;
}

.iconFill {
  position: absolute;
  z-index: -1;
}

// --- INPUT --- ///
.inputContainer.focus {
  outline-color: $accentColor;
}

.inputContainer:focus-within {
  z-index: 1;
}

.mathField {
  color: white;
  border-color: white;
  height: auto;
  padding: 10px;
  padding-right: 0;
  align-self: center;
  min-width: calc(25vw - 50px - 36px - 1px);
  font-size: 22px;
}

.mq-editable-field .mq-cursor {
  border-color: $textColor;
}

.mq-editable-field.mq-focused,
.mq-math-mode .mq-editable-field.mq-focused,
.mq-editable-field,
.mq-math-mode .mq-editable-field {
  border: none;
  box-shadow: none;
}

.mq-root-block .mq-empty {
  background-color: rgba($textColor, 0.1);
  // background: transparent !important;
}
