@import '../../utils/variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inputContainer {
  min-height: 55px;
  height: auto;
  border: 1px solid $primaryColor;
  display: flex;
  flex-direction: row-reverse;
}

.box {
  background-color: $primaryColor;
  height: auto;
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// --- BUTTONS --- //
// style to all buttons

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
}

// delete button

.deleteButton {
  color: $secondaryColor;
  height: 36px;
  width: 36px;
}

.deleteButton:hover {
  color: $accentColor;
}

// settings button
.settingsButton {
  color: $textColor;
  width: 100%;
}

// --- INPUT --- ///
.inputContainer:focus-within {
  border-color: $accentColor;
}

#math-field {
  color: white;
  border-color: white;
  height: auto;
  padding: 10px;
  padding-right: 0;
  align-self: center;
  min-width: calc(25vw - 50px - 36px - 3px);
  font-size: 22px;
}

.mq-editable-field .mq-cursor {
  border-color: $textColor;
}

.mq-editable-field.mq-focused,
.mq-math-mode .mq-editable-field.mq-focused,
.mq-editable-field,
.mq-math-mode .mq-editable-field {
  border: none;
  box-shadow: none;
}

.mq-root-block .mq-empty {
  background-color: rgba($textColor, 0.1);
  // background: transparent !important;
}

.mq-focused ~ .box {
  background-color: $accentColor;
}
