$backgroundColor: #181818;
$secondaryBackgroundColor: #1d1d1d;
$darkBackgroundColor: #141414;
$primaryColor: #353535;
$secondaryColor: #2b2b2b;
$accentColor: #4da6ff;
$textColor: #fff;
$secondaryTextColor: #999999;

$inputFieldsWidth: 25vw;
$graphSettingsWidth: 25vw;
