@import './variables';

@font-face {
  font-family: PoppinsRegular;
  src: url('../../assets/fonts/Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
}

.graphSettingsContainer {
  position: fixed;
  width: auto;
  margin: 0;
  height: auto;
  left: 51px;
  border-radius: 10px;
  padding: 10px;
  outline: solid 2px $accentColor;
  background-color: $secondaryBackgroundColor;
  z-index: 2;
}

.arrow {
  position: fixed;
  left: 39px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  // border-right: 10px solid $accentColor;
}

.innerArrow {
  position: absolute;
  top: -10px;
  left: 1.5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $secondaryBackgroundColor;
}

.settingsWrapper {
  display: flex;
  justify-content: space-between;
}

.inlineWrapper > .icon {
  color: $secondaryTextColor;
}

.inlineWrapper {
  display: flex;
}

.input {
  width: 40px;
  margin-left: 10px;
  background-color: rgba($primaryColor, 0);
  caret-color: $textColor;
  color: $textColor;
  outline: none;
  border: none;
}

.colorPicker {
  margin-left: 30px;
}

.lineDashWrapper {
  float: right;
  border-radius: 8px;
}

.rotate45deg {
  transform: rotate(-45deg);
}

.styleButtonIcon {
  width: 36px;
  height: 38px;
  box-sizing: border-box;
  border: solid 1px $secondaryTextColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styleButton0,
.styleButton1 {
  margin-right: -1px;
}

.styleButton0 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.styleButton2 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.selected {
  border-color: $accentColor;
  z-index: 10;
  background-color: rgba($accentColor, 0.075);
}

.selected > * {
  color: $accentColor;
}

.notSelected {
  transition: 200ms;
}

.notSelected:hover {
  background-color: $secondaryColor;
  transition: 250ms;
}

.graphBoundarySettingsWrapper {
  width: auto;
  padding-top: 15px;
}

.graphBoundaryField {
  color: $textColor;
  width: 50px;
  text-align: center;
}

.staticMathField {
  color: $textColor;
  pointer-events: none;
}

.inputBottomBorder {
  border-bottom: solid 1px $primaryColor;
}

.inputBottomBorder:hover {
  border-bottom: solid 1px $secondaryTextColor;
  transition: 250ms;
}

.inputBottomBorder:focus-within {
  border-bottom: solid 1px $accentColor;
}

.labelInputWrapper {
  display: flex;
}

.labelInput,
.inputLabel {
  font-family: 'PoppinsRegular';
  font-size: 16px;
  width: 100px;
  color: $textColor;
}

.inputLabelWrapper {
  width: 20px;
  text-align: center;
}

.inputLabel {
  color: $secondaryTextColor;
  text-align: center;
  font-size: 22px;
}

.centerVerically {
  display: flex;
  align-items: center;
}

.addMarginTop {
  margin-top: 15px;
}
