@import './variables';

@font-face {
  font-family: PoppinsLight;
  src: url('../../assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: PoppinsRegular;
  src: url('../../assets/fonts/Poppins-Regular.ttf');
}

.modalOverlay {
  position: fixed;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.modalContentWrapper {
  position: fixed;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $backgroundColor;
  z-index: 1000;
  width: 65vw;
  height: 75vh;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.125);
  border-radius: 30px;
}

.settingsModalLeft {
  width: 25%;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.settingsModalRight {
  width: 75%;
  height: 100%;
  padding: 10px;
  background-color: $secondaryBackgroundColor;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.settingsModalTopLeft {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin-bottom: 50px;
}

.settingsModalTopLeft > p {
  color: $textColor;
  font-size: 25px;
  font-family: PoppinsRegular;
}

.settingsModalBottomLeft {
  width: 100%;
  height: 80%;
}

.settingPageButton {
  width: 100%;
  height: 50px;
  padding-left: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-left: 2px solid transparent;
}

.settingPageButton:hover {
  background-color: $secondaryBackgroundColor;
}

.settingPageButton > p {
  color: $secondaryTextColor;
  font-size: 16px;
  font-family: PoppinsLight;
  user-select: none;
  pointer-events: none;
}

.selectedSettingPage {
  border-color: $accentColor;
  background-color: $secondaryBackgroundColor;
  transition: 500ms;
}

.selectedSettingPage > p {
  color: $textColor;
  font-family: PoppinsRegular;
}
