@import './variables';

@font-face {
  font-family: PoppinsLight;
  src: url('../../assets/fonts/Poppins-Light.ttf');
}

.titlebarContainer {
  position: fixed;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: row;
  // align-items: center;
  width: 100%;
  height: 32px;
  background-color: $darkBackgroundColor;
  z-index: 10;
  -webkit-app-region: drag;
}

.titlebarLeft {
  position: absolute;
  left: 0;
  top: 0;
}

.titlebarRight {
  position: absolute;
  right: 0;
  top: 0;
}

.titlebarMiddle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.titlebarRight,
.titlebarLeft {
  display: flex;
}

.titlebarIconWrapper {
  width: 46px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
}

.titlebarIconWrapper:hover {
  background-color: $secondaryColor;
}

.closeIconWrapper:hover {
  background-color: $accentColor;
}

.closeIconWrapper:hover > .titlebarIcon {
  color: white;
}

.titlebarIcon {
  z-index: 11;
  color: $secondaryTextColor;
  // background-color: red;
}

.appTitle {
  color: $secondaryTextColor;
  font-family: PoppinsLight;
  margin-left: 10px;
  font-size: 13px;
  line-height: 32px;
}
